:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: 0.5rem;
  --size-radius: 0;
}
.input {
  position: relative;
  width: 33%;
  margin: 1% 0.5%;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);

    &:disabled {
      background: rgba(239, 239, 239, 0.3);
      color: grey;
    }
    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
        color: var(--color-accent);
      }
    }
  }
}
.button-group {
  margin-bottom: 2em;
}
button {
  color: currentColor;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;

  &[type='reset'] {
    background: var(--color-accent);
    font-weight: 200;
  }
}
.friend-list__total {
  margin: 2% 0;
  margin-left: 33%;
  font-size: 1.2em;
}
.button {
  &__danger {
    color: red;
  }
}
