<script setup>
import { store } from '@/store/'
import { mapState, mapActions } from 'pinia'

import FriendRow from '@components/FriendRow.vue'
</script>

<template>
  <div>
    <div class="button-group">
      <button @click="addFriend">Agregar</button>
      <button @click="reset" type="reset">Reset</button>
    </div>

    <TransitionGroup class="container" name="list">
      <FriendRow
        v-for="(friend, index) in friends"
        class="item"
        :key="friend"
        :index="index"
        :name="friend.name"
        :amount="friend.amount"
      />
    </TransitionGroup>
    <div class="friend-list__total">Total: {{ totalMoney }}</div>
  </div>
</template>

<script>
export default {
  name: 'FriendList',
  computed: {
    ...mapState(store, ['friends', 'totalMoney']),
  },
  methods: {
    ...mapActions(store, ['updateAmount', 'addFriend', 'reset']),
  },
}
</script>

<style scoped lang="scss">
.container {
  position: relative;
  padding: 0;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.3s cubic-bezier(0.3, 0, 0.1, 1);
}
.list-leave-active {
  position: absolute;
  width: 92%;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
</style>
