<script setup>
import { store } from '@/store/'
import { mapState, mapActions } from 'pinia'
</script>

<template>
  <div
    ref="row"
    class="row"
  >
    <label class="input">
      <input
        class="input__field"
        ref="nameInput"
        @change="changeName"
        :value="name"
      />
    </label>
    <label class="input">
      <input
        @change="changeAmount"
        ref="amountInput"
        type="number"
        class="input__field friend-data__amount"
        :value="amount"
      />
    </label>
    <label class="input">
      <input
        class="input__field"
        disabled
        :value="totalMoney / partySize - amount"
      />
    </label>
    <button class="button__danger" @click="removeFriend(index)">
      <img class="button__icon" :src="trashIcon" />
    </button>
  </div>
</template>

<script>
import trashIcon from '@/src/assets/images/icons8-trash.svg'

export default {
  name: 'FriendRow',
  data() {
    return {
      trashIcon: trashIcon,
      removed: false,
    }
  },
  props: {
    name: {
      type: String,
      default: '',
    },
    amount: {
      type: Number,
      default: 0,
    },
    index: {
      type: Number,
      default: 0,
    },
  },
  components: {
    trashIcon,
  },
  computed: {
    ...mapState(store, ['friends', 'partySize', 'totalMoney']),
  },
  methods: {
    changeAmount() {
      this.updateAmount(this.index, this.$refs.amountInput.value)
    },
    changeName() {
      this.updateName(this.index, this.$refs.nameInput.value)
    },
    ...mapActions(store, ['updateAmount', 'updateName', 'removeFriend']),
  },
}
</script>

<style scoped lang="scss">
.button__danger {
  width: 30px;
  height: 30px;
  padding: 6px;

  .button__icon {
    width: 100%;
    filter: invert(11%) sepia(76%) saturate(7474%) hue-rotate(359deg)
      brightness(107%) contrast(111%);
  }
}
.row {
  display: flex;
  align-items: center;
}
</style>
