<script setup>
import { store } from '@/store/'
import { mapState, mapActions } from 'pinia'
</script>

<script>
export default {
  computed: {
    ...mapState(store, ['partySize', 'totalMoney', 'extras']),
  },
  methods: {
    ...mapActions(store, ['increase_extras', 'decrease_extras']),
  },
}
</script>

<template>
  Extras:
  <button @click="increase_extras">+</button>
  {{ extras }}
  <button @click="decrease_extras">-</button>
  <span v-if="extras > 0">
    ({{ totalMoney / partySize }})
  </span>
</template>

<style scoped></style>
