<script setup>
import FriendList from '@components/FriendList.vue'
import FriendExtra from '@components/FriendExtra.vue'
</script>

<template>
  <h1>Cuentas Claras</h1>
  <FriendList />
  <FriendExtra />
</template>

<style lang="scss">
 @import "/src/assets/scss/global.scss";
 @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

 body {
   background-color: var(--color-signal);
 }
 #app {
   font-family: 'Hind Siliguri', sans-serif;
   background-color: var(--color-signal);
   margin: 4%;
 }
</style>
